{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>{% block title %}Pdf website{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  type="text/css" href="{% static 'styles/styles.css' %}">
</head>
<body>
{% block body %}
<div class="flex-container">
    <!-- nav bar-->
    <nav>
        <div class="nav-wrapper" style="background-color:#333;">
            <div class="container nav-wrapper">
                <a href="#!" class="brand-logo" style="color:#7FFF00;">Favflamz web</a>
                <ul class="right hide-on-med-and-down">
                <li><a href="" class="active"><i class="fa fa-home" style="font-size:30px; color:#7FFF00;"></i></a></li>
                <li><a href=""><i class="fa fa-user-circle" style="font-size:30px; color:#7FFF00;"></i></a></li>
                <li><a href="signup/"><i class="fa fa-pencil-square-o" style="font-size:30px; color:#7FFF00;"></i></a></li>
              </ul>
            </div>
        </div>

    </nav>
    <div class="container web">
        <div class="description">
            <h6 style="font-weight:700;">Download JAMB and Post UTME Past Questions and Answers in PDF for all subjects</h6>




            <div class="intro" style="padding-right:250px; padding-top:30px; line-height:35px; font-weight:500;">
                This medium is aimed at providing information to enlighten all Parents, Candidates and the General Public that Favflamz web have made available the previous years JAMB Past Questions and Answers  as well as post UTME past questions and answers in PDF for candidates to practice ahead of the Joint Admission Matriculation Board (JAMB) Unified Tertiary Matriculation Examination and post UTME Examinations of their various institutions of choice.

            </div>

            <p class="moi-name" style="font-size:15px;background-color: #d0e6f0; border:1px solid #d0e6f0 ; color:black; padding-top:20px; padding-bottom:20px; padding-left:15px; padding-right:15px;">
                    <em>Hi guys! My name is Favour. And here are the details this page discloses.Without further ado, Let's jump right into it!</em>
            </p>


            <div class="download-description">
                <h5>Download JAMB Past Questions & Answers In PDF [All Subjects]</h5>
                <p>We have the following subjects available for the jamb past Questions and answers below:</p>
                <ol>
                    <li>Download JAMB Biology Past Questions and Answers in PDF </li>
                    <li>Download JAMB Chemistry Past Questions and Answers in PDF</li>
                    <li>Download JAMB Commerce Past Questions and Answers in PDF</li>
                    <li>Download JAMB CRK Past Questions and Answers in PDF</li>
                    <li>Download JAMB Economics Past Questions and Answers in PDF</li>
                    <li>Download JAMB Government Past Questions and Answers in PDF</li>
                    <li>Download JAMB Mathematics Past Questions and Answers in PDF</li>
                    <li>Download JAMB Physics Past Questions and Answers in PDF</li>
                    <li>Download Principle of Accounts JAMB Past Questions and Answers in PDF</li>
                    <li>Download JAMB Use of English Past Questions and Answers in PDF</li>
                    <li>Download JAMB Literature-in-English Past Questions and Answers in PDF</li>
                </ol>
                <p>We will continue to update this page as we get more JAMB Past Questions and Answers.</p>
                <div class="explanation">
                    <h5>PDF Detailed survey</h5>
                    This pdf download comprises of detailed past questions and answers of many and recent years. You can access this rare treasure by
                    purchasing it where the cost is    <em style="color:orange; font-size:25px;">N500</em> per subject.
                    <h5>Step one:</h5>
                    <p>You can pay via bank or via internet transfers</p>
                    <p>You are obliged to send your; </p>
                    <ol>
                        <li>Full name</li>
                        <li>Account number</li>
                        <li>JAMB or Post UTME</li>
                        <li>The name of the subject you wish to purchase</li>
                        <li>The evidence of payment(photo)</li>

                    </ol>
                     <em><h6>to me via whatsapp first</h6></em>

                    <h5>Pay or transfer to the account below:</h5>
                    <ol>
                        <li>Bank name:GT Bank</li>
                        <li>Account number: to be filled</li>
                        <li>Account name: flamzy Favour</li>
                    </ol>

                    <h5>My phone number is 080...............</h5>
                    <h5>Step two:</h5>

                    <p>Once the payment is verified, click on the button below that would link you to my page to download the subject pdf
                    format you paid for.
                    </p>


                </div>

                <div class="container button" style=" padding-bottom:40px; padding-top:40px;">
                <a href="download/">
                    <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:green; color:white;">
                    To Download JAMB Past Questions and Answers pdf,Click Here
                    </button>
                </a>
            </div>

                <div class="post-utme-download" style="padding-bottom:30px;">
                    <h5>Download post-UTME Past Questions & Answers In PDF [All Subjects]</h5>
                    <p>We have the following subjects available for the jamb past Questions and answers below:</p>
                    <ul>
                        <li>mathematics...................................</li>
                    </ul>

                     <div class="explanation">
                        <h5>PDF Detailed survey</h5>
                        This pdf download comprises of detailed past questions and answers of many and recent years. You can access this rare treasure by
                        purchasing it where the cost is    <em style="color:orange; font-size:25px;">N600</em> per subject.
                        <p>You can pay via bank or via internet transfers</p>
                        <p>You are obliged to send your; </p>
                        <ol>
                            <li>Full name</li>
                            <li>Account number</li>
                            <li>JAMB or Post UTME</li>
                            <li>The name of the subject you wish to purchase</li>
                            <li>The evidence of payment(photo)</li>

                        </ol>
                         <em><h6>to me via whatsapp</h6></em>

                        <h5>Pay or transfer to the account below:</h5>
                        <ol>
                            <li>Bank name:GT Bank</li>
                            <li>Account number: to be filled</li>
                            <li>Account name: flamzy Favour</li>
                        </ol>

                        <h5>My phone number is 080...............</h5>

                        <p>Once the payment is verified, click on the button below that would link you to my page to download the subject pdf
                        format you paid for
                        </p>


                     </div>


                </div>


            </div>

        </div>

    </div>


    <!---footer-->

    <footer class="page-footer" style="background-color:#333;">
        <div class="container">

        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!"><em>| Favflamz project</em></a>
            </div>
        </div>
    </footer>


</div>


{% endblock %}



</body>
</html>