{% extends 'base.html' %}

{% block title %}Download page {% endblock %}
{% block body %}
<nav>
    <div class="nav-wrapper" style="background-color:#333;">
        <div class="container nav-wrapper">
            <a href="#!" class="brand-logo" style="color:#7FFF00; font-size:19.2px;">Download page</a>
            <ul class="right hide-on-med-and-down">
                <li><a href='/' class="active"><i class="fa fa-home" style="font-size:30px; color:#7FFF00;"></i></a></li>

            </ul>
        </div>
    </div>

</nav>

<div class=" container intro2">
    <div class="pay" style="padding-bottom:100px;">
        <div class="container content1" style="color:#7FFF00;">
            <h5 style="font-size:35px;"><em>Fill in the details in the form below</em></h5>
        </div>


        <div class="container form" style="padding-top:50px;  padding-left:80px; background-color:#3331; box-shadow:5px 5px 5px #7FFF00 ; border-radius: 50px;">

            <form  action="{% url 'addUser' %}" method="post">

                {% csrf_token %}
            <div class="row">
                <div class="col s9">
                    <label>Full name</label>
                        {{form.full_name}}
                    <label >password</label>
                        {{form.password}}
                    <label >Email Address</label>
                        {{form.Email}}
                    <label >phone number</label>
                        {{form.phone_number}}
                    <label >subject</label>
                        {{form.name_of_subject}}
                </div>



            </div>
            <div style="padding-bottom:30px;">
                 <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:green; ">
                    Sumbit
                     <i class="fa fa-send" style="color:white;" ></i>
                     <p>{{ put }}</p>
                      <p>{{ animate }}</p>

                </button>
            </div>



            </form>


        </div>




    <div class=" container pdf-display">

        {% if search1 == None %}
        <h6></h6>


        {% else %}
        <i class="fa fa-send" style="color:white; font-size:20px;" ></i>
        <h5>Scroll downwards </h5>
        <h2><p>{{search1 | title}}</p></h2>
        {% endif  %}

        {% if search1 == 'biology' %}
        <div>
            <h5><a href="https://drive.google.com/file/d/1U_0fKKxzDBVxZ4eI6Bf9WS4mDvA7EBMC/view?usp=sharing">Click here to download Biology </a></h5>
        </div>

        {% elif search1 == 'mathematics' %}
         <div>
           <h5><a href="https://drive.google.com/file/d/1z0bO7ionf9lmrpaGfJBLbyKbb_HbGdNm/view?usp=sharing"> Click here to download Mathematics</a></h5>
        </div>

        {% elif search1 == 'physics' %}
         <div>
           <h5><a href="https://drive.google.com/file/d/1e4YFWlQhK3GRdukPHdnADDIqM2p6ukwB/view?usp=sharing">Click here to download Physics</a></h5>
        </div>

        {% elif search1 == 'commerce' %}
         <div>
           <h5><a href="https://drive.google.com/file/d/1zHv36jTF2ZvGLTQgfU9Id9m8fSXg5-KO/view?usp=sharing">Click here to download Commmerce</a></h5>
        </div>

        {% elif search1 == 'english' %}
         <div>
           <h5><a href="https://drive.google.com/file/d/1qaTWLNiWGTSzN9yJ8QKQRfov2fBUuG1m/view?usp=sharing">Click here to download English</a></h5>
        </div>

        {% elif search1 == 'economics' %}
         <div>
           <h5><a href="https://drive.google.com/file/d/1KXkhZrqabSzznXbeiHsmLdYHf_wpUewm/view?usp=sharing">Click here to download Economics</a></h5>
        </div>

        {% elif search1 == 'government' %}
         <div>
           <h5><a href="https://drive.google.com/file/d/1NUycXC8NCayr5F2ucEOWNxT29UT3Elog/view?usp=sharing">Click here to download Government</a></h5>
        </div>


        {% elif search1 == 'crk' %}
         <div>
           <h5><a href="https://drive.google.com/file/d/1II-YWATLfvirEmr3t5v0_1og0MvAWemR/view?usp=sharing" >Click here to download CRK</a></h5>
        </div>

        {% elif search1 == 'literature' %}
         <div>
           <h5><a href="https://drive.google.com/file/d/1yekdQg7ipRYXaJ9qxO_RiyuhJeV8pmRL/view?usp=sharing">Click here to download literature</a></h5>
        </div>

        {% elif search1 == 'chemistry' %}
         <div>
           <h5><a href="https://drive.google.com/file/d/1x66QikJHq9W_sX9nXW_8o97aDflcEYBk/view?usp=sharing">Click here to download Chemistry</a></h5>
        </div>



    </div>


    {% endif %}
        <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:green; ">
            <a href="/"> Done ,thanks for visting! </a>
             <i class="fa fa-send" style="color:white;" ></i>
        </button>





{% endblock %}