{% extends 'base.html' %}

{% block title %}Display download page {% endblock %}
{% block body %}
<nav>
    <div class="nav-wrapper" style="background-color:#333;">
        <div class="container nav-wrapper">
            <a href="#!" class="brand-logo" style="color:#7FFF00; font-size:19.2px;">Display download page</a>

        </div>
    </div>

</nav>

<div class="container info-state">
    <p style="font-size:15px;">You are obliged to type the subject in lower case. E.g if you want to download principle of accounts ,You are to type 'account'.

</p>
</div>


<form action="{% url 'download page' %}" method="post" class="container col s6">
    {% csrf_token %}

    <label><b style="color:black; font-size:18px;">subject </b></label>
    <input name="search1" class="form-control" placeholder="subject " />



    <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:green; ">
        Sumbit
         <i class="fa fa-send" style="color:white;" ></i>
    </button>

</form>

<div class="container info">
    <h5>Please scroll down when you are linked to the next page. Thank you!

</h5>
</div>


{% endblock %}